<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>404错误页面</title>
<meta http-equiv="refresh" content="60;url=http://www.mycodes.net/">
<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("/Resources/Css/error.css")">
</head>
<body>
<!-- 代码 开始 -->
<div id="container"><img class="png" src="/Resources/Images/404.png" /> <img class="png msg" src="/Resources/Images/404_msg.png" />
  <p><a href="javascript:history.go(-1);" target="_blank"><img class="png" src="/Resources/Images/404_to_index.png" /></a> </p>
</div>
<div id="cloud" class="png"></div>
<!-- 代码 结束 -->
</body>
</html>