@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-h d-h-header">
    <div id="blk_ct_header" class="d-header blk_ct_header">
    <div class="container">
	    <div class="row">
		    <div class="col-xs-3"><a href="#" class="logo"><img src="@Url.Content("~/Resources/Images/logo.png")"></a></div>
		    <div class="col-xs-4">
			    <form class="form-inline">
			        <div class="form-group">
			        <div class="input-group">
			            <div class="input-group-addon">
			      	    <span class="glyphicon glyphicon-th-list"></span>&nbsp;
			      	    <span>目录</span>
			            </div>
			            <input type="text" class="form-control" style="width:240px;">
			            <div class="input-group-addon bg-white">
			      	    <span class="glyphicon glyphicon-search"></span>
			            </div>
			        </div>
			        </div>
			    </form>
		    </div>
		    <div class="col-xs-5 text-right">
			    <a href="/jnpx/dist/courseteacher/course-list.html" class="i">课程制作</a>
			    <a href="/jnpx/dist/courseteacher/class-list.html" class="i">班级教学</a>
			    <a href="#" class="i b">王明明</a>
		    </div>
	    </div>
    </div>
    </div>
</div>
@RenderBody()
