


@{
    ViewBag.Title = "上传视频";
}

<script>
    function show(c) {
        alert(c);
        location.href = "play/?c="+c;
    }

</script>

<h2>Details</h2>
<iframe src="http://api.shlll.net/UploadVideo?u=coursesite&p=MQ%3d%3d&code=12132&d=http%3a%2f%2flocalhost%3a27501%2fdefault1%2fUploadTest" width="100%" frameborder="0" height="200" scrolling="no"></iframe>
