@{
    ViewBag.Title = "在线学习 - 主题讨论[预览]";
    Layout = "~/Views/Shared/LinkLayout.cshtml";
}

<div class="d-h">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-bar">
                    <span class="back"><span class="glyphicon glyphicon-chevron-left"></span></span>
                    <a href="@Url.Action("../../Course/CourseCreate/CoursePreviewLearn", new { TrainingId = Dianda.Common.QueryString.Encrypt(ViewBag.TrainingId) })" class="title">@ViewBag.TraningDetailTitle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-h">
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <div class="d-discuss-left">
                    <div class="d-discuss-subject">
                        @if (ViewBag.Model_Course_UnitContent != null)
                        {
                            Dianda.AP.Model.Course_UnitContent Theme_Model = ViewBag.Model_Course_UnitContent;
                            <div class="title" style="word-break: break-all; word-wrap: break-word;">讨论主题：@Theme_Model.Title</div>
                            <div class="desc" style="word-break: break-all; word-wrap: break-word;">@Theme_Model.Content</div>
                        }
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $proto.init(function () {

        });
    });
</script>
