@{
    ViewBag.Title = "在线学习 - 阅读[预览]";
    Layout = "~/Views/Shared/LinkLayout.cshtml";
}

<div class="d-h">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-bar">
                    <span class="back"><span class="glyphicon glyphicon-chevron-left"></span></span>
                    <a href="@Url.Action("../../Course/CourseCreate/CoursePreviewLearn", new { TrainingId = Dianda.Common.QueryString.Encrypt(ViewBag.TrainingId) })" class="title">@ViewBag.TraningDetailTitle</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-h">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div id="blk_ln_course_reading" class="blk_ln_course_reading" data-km-htm="blk_ln_course_reading.html">
                    <div class="content">
                        @using (Html.BeginForm("LearnOnLineReadingView", "LearnOnLineController", FormMethod.Post))
                        {
                            Dianda.AP.Model.Course_UnitContent CourseModel = ViewBag.Model_Course_UnitContent;
                            <h3 class="text-center" style="word-break: break-all; word-wrap: break-word;">@CourseModel.Title</h3>
                            <hr>
                            <div class="text-left" style="white-space:pre-wrap;">@Html.Raw(CourseModel.Content)</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var jsonData = JSON.stringify({});
        $proto.init(function () {
            /* 页面加载后立即执行的代码写在这里 */
            $('#d_note').hide();
            $('#blk_ln_course_reading').parent().attr('class', 'col-xs-12');
        })
    });
</script>
